.navbar{
    list-style-type:none;
    background-color:#ffd700;
}
a{
    float:left;
    padding-right:15px;
}
.glyphicon{
    padding-right:2px;
}
.jumbotron{
    position:relative;
    left:100%;
}
.btn{
    background-color:#1544ec;
    color:#ffffff;
}
footer{
    background-color:#ffd700;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
}
.text-right{
    text-align:right;
}


