
.navbar{
    list-style-type:none;
    background-color:#ffd700;
}
a{
    float:left;
    padding-right:15px;
}
.glyphicon{
    padding-right:2px;
}
.carousel-inner .item img{
        height:420px;
        width:1800px;
}
.overlay{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:95%;
    height:82%;
    opacity:0;
    transition: .5s ease;
    background-color:#000000;
}
.thumbnail:hover .overlay{
    opacity:0.7;
}
.overlay .glyphicon-search{
    color:#ffa500;
    font-size:24px;
     margin-left:70px;
    margin-top:70px;
}
.text-center{
    text-align:center;
}
.text-right{
    text-align:right;
}
h3{
  padding-left:20%;  
}
 .social {
  border-radius: 3px;
  box-shadow: 0 1px 0 #ffd700 inset;
  background: #ffd700;
  border-color:#ffd700;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 #ffd700 inset;
  float: left;
  list-style: none;
  padding: 15px 10px;
  position: relative;
  text-align: center;
  margin: 20px;
}

.social li:first-child {
  margin-top:0;
}

.social li {
  margin-top:10px;
}

.social li a {
  display:block;
  background:#000000;
  color:#ffffff;
  border-radius:20px;
  text-decoration: none;
  line-height:40px;
  width:30px;
  ;
}

.social a.tw:hover {
  background:#00acee;
}

.social a.fb:hover {
  background:#3b5998;
}
.social a.ig:hover{
    background:#dd4b39;
}


